html {
    background-color:#0d2e1f;
    color:#d9d9d9;
  }
  body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0d2e1f;
    color:#d9d9d9;
  }
  header{
    background:#a52526;
    text-align:center;
    color:#fff;
    padding:2rem 1rem;
    font-size:1.6rem;
    font-weight:bold;
    position:relative;
  }
  .logo{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    height:70px;
  }
  nav{
    display:flex;
    justify-content:center;
    gap:1rem;
    padding:.7rem;
    background:#a52526;
  }
  nav button{
    border:none;
    background:#fff;
    padding:.5rem 1rem;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    color:#000;
  }
  .gif-bar {
  width: 100%;
  height: 100px;
  margin: 20px 0;
  
  background-image: url('img/luzinhas.png'); 
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
}
  .gif-bar img {
  display: none;
}

  main{
    padding:2rem;
    text-align:center;
    min-height:60vh;
  }
  .card-area{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    justify-content:center;
  }
  .card{
    background:#fff;
    border:2px solid #7d5147;
    border-radius:10px;
    padding:1rem;
    width:190px;
    color:#000;
  }
  .card img{
    width:100%;
    height:130px;
    object-fit:cover;
  }
  .hidden{
    display:none;
  }
  .tituloCat{
    width:100%;
    font-size:1.3rem;
    font-weight:bold;
    margin-top:20px;
    color:#d9d9d9;
    text-align:center;
  }
  form{
    display:flex;
    flex-direction:column;
    max-width:300px;
    margin:auto;
    gap:.7rem;
  }
  input{
    padding:.5rem;
    border:1px solid #d9d9d9;
    border-radius:5px;
    background:#fff;
    color:#000;
  }
  footer{
    background:#a52526;
    color:#fff;
    text-align:center;
    padding:1rem;
    margin-top:40px;
    font-size:.9rem;
  }

  #home{
  text-align:center;
  padding:2rem;
  max-width:700px;
  margin:30px auto;
  background:#103823;
  border:2px solid #7d5147;
  border-radius:10px;
  color:#d9d9d9;
}
#home h2{
  margin-top:0;
  font-size:1.8rem;
}
#home p{
  font-size:1.1rem;
  line-height:1.5rem;
}