html {
  background-color: #0d2e1f;
  color: #d9d9d9;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d2e1f;
  color: #d9d9d9;
}

header {
  background: transparent;
  text-align: center;
  color: #d9d9d9;
  padding: 2rem 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  position: static;
  transform: none;
  height: 80px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;

  background: repeating-linear-gradient(
    -45deg,
    #ffffff,
    #ffffff 20px,
    #7d2e2e 20px,
    #7d2e2e 40px
  );

  border-top: none;
  border-bottom: 15px solid #7d2e2e;
}

nav button {
  border: #000 1px solid;
  background: rgba(255, 255, 255, 0.8);
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #7d2e2e;
  cursor: pointer;
}

nav button:hover {
  background: #ffffff;
  text-decoration: none;
}

.gif-bar {
  width: 100%;
  height: 100px;
  margin: 20px 0;
  background-image: url('img/luzinhas.png');
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
}

.gif-bar img {
  display: none;
}

main {
  padding: 2rem;
  text-align: center;
  min-height: 60vh;
}

.card-area {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  border: 2px solid #7d5147;
  border-radius: 10px;
  padding: 1rem;
  width: 190px;
  color: #000;
}

.card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.hidden {
  display: none;
}

.tituloCat {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
  color: #d9d9d9;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  gap: .7rem;
}

input {
  padding: .5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: #fff;
  color: #000;
}

footer {
  background: #a52526;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 40px;
  font-size: .9rem;
}

#home {
  text-align: center;
  padding: 3rem;
  max-width: 800px;
  margin: 30px auto;
  background: transparent;
  border: 2px solid #a52526;
  border-radius: 15px;
  color: #d9d9d9;
}

#home h2 {
  margin-top: 0;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

#home p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #ccc;
}